<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body  ng-app="ToyotaTCheck">
  <h1>Demo</h1>
  <div class="list" ng-controller="ItemListController">
    <ul data-role="listview" data-inset="true" data-shadow="false" id="specListWarp" class="list">
      <li ng-repeat="category in categories" id="{{category.id}}" ng-if="category.items.length > 0">
        <h2 class="tt-category">- {{category.title}}</h2>
        <ul>
          <li ng-repeat="item in category.items | itemFilter: itemStatus" ng-include="templateUrl" ng-controller="ItemController"></li>
        </ul>
      </li>
    </ul>
    <hr>
    <button ng-click="filterAll();">All items</button>
    <button ng-click="filterFlag();">Flaged items</button>
    <button ng-click="filterNA();">N/A items</button>

    <!-- LOADING_INDICATOR_BEGIN -->
    <div tcheck-loading-indicator loading-overlay="loadingOverlay"></div>
    <!-- LOADING_INDICATOR_END -->

  </div>
  <script src="scripts/vendor/angular.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/ItemListController.js"></script>
  <script src="scripts/controllers/ItemController.js"></script>
  <script src="scripts/services/ItemList.js"></script>
  <script src="scripts/services/Item.js"></script>
  <script src="scripts/directives/loadingIndicator.js"></script>
  <script src="scripts/filters/itemFilter.js"></script>
</body>
</html>