<div class="list" ng-init="authorize();">
  <div style="text-align: right;">
    <span>Current user:  <b>{{email}}</b></span>
    <button ng-click="logout();">Logout</button>
  </div>
  <ul data-role="listview" data-inset="true" data-shadow="false" id="specListWarp" class="list">
    <li ng-repeat="category in categories" id="{{category.id}}" ng-if="category.items.length >
      0">
      <h2 class="tt-category">- {{category.title}}</h2>
      <ul>
        <li ng-repeat="item in category.items | itemFilter: itemStatus" ng-include="templateUrl" ng-controller="ItemController"></li>
      </ul>
    </li>
  </ul>
  <hr>
  <button ng-click="filterAll();">All items</button>
  <button ng-click="filterFlag();">Flaged items</button>
  <button ng-click="filterNA();">N/A items</button>
  <button ng-click="doSave();" style="float: right;">Save all</button><br>
  

  <!-- LOADING_INDICATOR_BEGIN -->
  <div tcheck-loading-indicator loading-overlay="loadingOverlay"></div>
  <!-- LOADING_INDICATOR_END -->

</div>